---
layout: base
---
<section class="fedramp-page-container">
	<div class="grid-container">
		<div class="partners-container grid-row home-partners-title" style="margin-top: 0;">

		<div class="desktop:grid-col-4 padding-2">
				<div class="grid-row">
					<div class="tablet:grid-col-9 grid-col-fill tablet:padding-left-4">
						<div class="home-partners-text">
							<p>The Federal Risk and Authorization Management Program (FedRAMP<sup>®</sup>) provides a standardized, reusable approach to security assessment and authorization for cloud service offerings.</p>
						</div>
					</div>	
				</div>
				<hr class="partner-divider desktop:display-none">
			</div>


			<div class="desktop:grid-col-4 padding-2">
				<div class="grid-row">
					<div class="tablet:grid-col-3 home-partners-icon-container">
						<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/fedramp-policy.svg" alt="">
					</div>
					<div class="tablet:grid-col-9 grid-col-fill tablet:padding-left-4">
						<div class="home-partners-text">
							<h3>Rev 5 Agency Authorization</h3>
							<p class="margin-bottom-4">The traditional FedRAMP Agency Authorization process is the only path to FedRAMP authorization today and it's not going away any time soon!</p>
							<a href="{{site.baseurl}}/rev5/agency-authorization/" class="partner-learn-more">Learn More</a>
						</div>
					</div>
				</div>
				<hr class="partner-divider desktop:display-none">
			</div>								
			<div class="desktop:grid-col-4 padding-2">
				<div class="grid-row">
					<div class="tablet:grid-col-3 home-partners-icon-container">
						<img class="home-partners-icon" src="{{site.baseurl}}/assets/img/training-in-person.svg" alt="">
					</div>
					<div class="tablet:grid-col-9 grid-col-fill tablet:padding-left-4">
						<div class="home-partners-text">
							<h3>FedRAMP 20x Community Working Groups</h3>
							<p class="margin-bottom-4">FedRAMP 20x is building a new cloud-native approach to FedRAMP authorization with industry and entirely in public.</p>
							<a href="{{site.baseurl}}/20x/working-groups/" class="partner-learn-more">Participate</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>	
</section>

<section tabindex="-1" id="home-banner" class="clear-fix">
	<div class="hero-unit">
    	<div class="usa-grid grid-gap">
			<div class="hero-text grid-col-8">
				<h2 class="padding-left-4">From docs... to code!</h2>
				<p><a href="{{site.baseurl}}/20x/" class="home-learn-more">Learn about FedRAMP 20x<a></p>
			</div>
    	</div>
	</div>
</section>


{% include fedramp-summary.html %}

<a id="topButton"></a>
